/* Reference: https://stackoverflow.com/a/21795173 */
$font-family: "Trebuchet MS";
$A4width: 210mm;
$A4height: 297mm;

$sidepanel-color-bg : #003d74;
$sidepanel-heading-color: #072a50;
$sidepanel-text-color: white;

$mainpanel-color-bg: #cac9c8;
$mainpanel-heading-color: white;
$mainpanel-text-color: black;

/*============     Utils ==============*/
.mainpanel-heading {
  padding-left: 2mm;
  background-color: $mainpanel-heading-color;
}

.sidepanel-heading {
  padding-left: 2mm;
  background-color: $sidepanel-heading-color;
}

.sidepanel-content {
  padding-left: 2mm;
}

.together-top {
  /* Together with bottom element */
  margin-bottom: 0.5mm;
}

.together-bottom {
  /* Together with top element */
  margin-top: 0.5mm;
}
/*=======================================*/

/*==========HTML tag==============*/
body {
  width: $A4width;
  height: $A4height;
  font-family: $font-family;
  /* to centre page on screen*/
  margin-left: auto;
  margin-right: auto;
}

.sidepanel a {
  color: $sidepanel-text-color;
}

.mainpanel a {
  color: $mainpanel-text-color;
}

/*=======================================*/


/* Column container */
.row {
  display: flex;
  flex-direction: row;
  color: $sidepanel-text-color;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.sidepanel {
  flex: 30%;
  background-color: $sidepanel-color-bg;
  color: $sidepanel-text-color;
  height: $A4height;
}
  
  /* Main column */
.mainpanel {
  flex: 70%;
  background-color: $mainpanel-color-bg;
  height: $A4height;
  color: $mainpanel-text-color;
}

.whoami {
  flex: 10%;
  padding-left: 5mm;
  padding-right: 2mm; 
}
